<div class="background-image">
    <div class="form-sign-in">
        <div class="form-sign-in-logo">
            <div class="logo-abdul"></div>
            <p>อับดุลย์เอ๊ย ถามไรตอบได้!</p>
            <h5>Abdul's World</h5>
        </div>
        <div class="form-sign-in-input">
            <h1>เข้าสู่ระบบ</h1>
            <h6>กรุณาล็อกอินเข้าสู่ระบบเพื่อดูรายละเอียดของท่าน</h6>
            <div><input class="input-username" type="text" id="username" name="username" placeholder="ชื่อผู้ใช้งาน หรืออีเมล"></div>
            <div><input class="input-password" type="password" id="password" name="password" placeholder="รหัสผ่าน"></div>
            <mat-checkbox class="mat-checkbox"><b>จำรหัสผ่านของคุณ</b></mat-checkbox>
            <div class="forget-password">ลืมรหัสผ่าน</div>
            <div class="bts-sign-in"><button type="submit">เข้าสู่ระบบ</button></div>
            <div class="bts-sign-up">ยังไม่มีบัญชีใช่หรือไม่ <b>ลงทะเบียน</b></div>
        </div>
    </div>
</div>
