<div class="background-html">
    <div class="form-show-all">
        <mat-grid-list cols="4" rowHeight="3:1" gutterSize="20px">
            <mat-grid-tile>
                <div class="icon-image">

                </div>
                <div class="show-detail">รับสายทั้งหมด
                    <h5>จำนวน 35 สาย</h5>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="icon-image">
                    
                </div>
                <div class="show-detail">รับสายวันนี้
                    <h5>จำนวน 12 สาย</h5>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="icon-image">
                    
                </div>
                <div class="show-detail">ประวัติการปิดเคส
                    <h5>จำนวน 10 สาย</h5>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="icon-image">
                    
                </div>
                <div class="show-detail">เคสที่ส่งต่อ
                    <h5>จำนวน 3 สาย</h5>
                </div>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="4" rowHeight="3:1" gutterSize="20px" style="margin-top: 20px;">
            <mat-grid-tile>
                <div class="icon-image">
                    
                </div>
                <div class="show-detail">แจ้งเหตุทั้งหมด
                    <h5>จำนวน 1 สาย</h5>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="icon-image">
                    
                </div>
                <div class="show-detail">แจ้งเหตุวันนี้
                    <h5>จำนวน 150 สาย</h5>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="icon-image">
                    
                </div>
                <div class="show-detail">รายได้ทั้งหมด
                    <h5>จำนวน 180,000 บาท</h5>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="icon-image">
                    
                </div>
                <div class="show-detail">รายได้วันนี้
                    <h5>จำนวน 8,750 บาท</h5>
                </div>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
    <div class="Call-statistics">
        <div class="show-detail-chart">สถิติการรับสายทั้งหมด</div>
        <div class="polar-chart">
            <div id="chart">
                
              </div>
        </div>
    </div>
    <div class="Report-statistics">
        <div class="show-detail-chart">สถิติการแจ้งเหตุทั้งหมด</div>
        <div class="detail-report"></div>
        <div class="detail-report"></div>
        <div class="detail-report"></div>
        <div class="detail-report"></div>
    </div>
    <div class="Total-income-statistics">
        <div class="show-detail-chart">สถิติรายได้ทั้งหมด</div>
    </div>
    <div class="Statistics-for-closing-all-cases">
        <div class="show-detail-chart">สถิติการปิดเคสทั้งหมด</div>
    </div>
</div>
